
<h2><%= gettext "В базе данных %{count} отзывов", count: length(Comments.list_comments()) %></h2>

<%= render "form.html", Map.put(assigns, :action, Routes.comment_path(@conn, :create)) %>
<%= render "form2.html", Map.put(assigns, :action, Routes.report_path(@conn, :create)) %>